:root {
    --plugin-docky-zoom: unset;
}

.docky-panel {
    padding: 0 12px 12px;
    position: relative;
    .actions {
        position: absolute;
        top: 8px;
        right: 28px;
        display: none;
        z-index: 2;

        button {
            background-color: rgba(0,0,0,.5);

            svg {
                margin: 0;
                width: 12px;
                height: 12px;
            }
        }
    }

    &:hover .actions {
        display: block;
    }
}

.docky-panel-body.protyle {
    zoom: var(--plugin-docky-zoom);
}

.docky-hint {
    padding: 12px;
}